{% extends 'base.html' %}
{% block content %}

<h2>Student Attendance ({{ date }})</h2>

<form method="post">
    {% csrf_token %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            {% for s in students %}
            <tr>
                <td>{{ s.student_name }}</td>
                <td>
                    <select name="status_{{ s.id }}" class="form-select">
                        <option value="Present">Present</option>
                        <option value="Absent">Absent</option>
                        <option value="Late">Late</option>
                    </select>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-success">Save Attendance</button>
</form>

{% endblock %}