{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">

    <div class="card shadow border-0 rounded-4">

        <div class="card-header bg-primary text-white rounded-top-4">
            <h4 class="mb-0">
                {{ page_title }}
            </h4>
        </div>

        <div class="card-body p-4">

            <form method="post">

                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label fw-bold">
                        Holiday Title
                    </label>

                    {{ form.title }}
                </div>

                <div class="mb-3">

                    <label class="form-label fw-bold">
                        Holiday Date
                    </label>

                    {{ form.date }}

                </div>

                <div class="mb-3">

                    <label class="form-label fw-bold">
                        Holiday Type
                    </label>

                    {{ form.holiday_type }}

                </div>

                <div class="form-check mb-3">

                    {{ form.is_half_day }}

                    <label class="form-check-label">
                        Half Day Holiday
                    </label>

                </div>

                <div class="form-check mb-3">

                    {{ form.is_active }}

                    <label class="form-check-label">
                        Active Holiday
                    </label>

                </div>

                <div class="mb-3">

                    <label class="form-label fw-bold">
                        Note
                    </label>

                    {{ form.note }}

                </div>

                <button type="submit"
                        class="btn btn-success">

                    💾 Save Holiday

                </button>

                <a href="{% url 'holiday_list' %}"
                   class="btn btn-secondary">

                    Back

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}